{% assign event = include.event %}
<a class="event-link" href="{{ event.url | prepend: site.baseurl }}" itemprop="url">
  <span class="title" itemprop="name">{{ event.title }}</span>
</a>
<span class="event-in-space-time">
    <span class="date">{{ event.date | date_to_xmlschema }}</span>
  <span class="event-location">
    {% assign location = site.data.locations[event.location] %} در
    <a class="location-name" href="{{ location.web }}">&nbsp;{{ location.short }}</a>
    {% if event.video %}
    (<a class="video" itemprop="contentUrl" href="{{ event.video }}">
      ویدئو جلسه {% include icons/video.svg %}
    </a>)
    {% endif %}
  </span>
</span>
