.site-footer {
  margin-top: $spacing-large;
  border-top: 1px solid $color-lo;
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;

  .wrapper {
    @extend %row;
    @extend %clearfix;
  }

  .external-links {
    text-align: left;

    a {
      @include svg_icon();
    }
  }

  .site-nav,
  .external-links {
    @extend %half;

    @media screen and (max-width: $breakpoint-one-column) {
        text-align: center;

        &:first-child {
          margin-bottom: 1rem;
        }
    }
  }
}

.badge {
  display: inline;
  color: white;
  font-size: smaller;
  background-color: $color-ac;
  padding: 0.5px 3px 1px 3px;
  border-radius: 20%;
  margin: 2px;
  width: min-content;
}
