.site-footer {
  margin-top: $spacing-large;
  border-top: 1px solid $color-lo;
  padding-top: $spacing-large;
  padding-bottom: $spacing-large;

  .wrapper {
    @extend %row;
    @extend %clearfix;
  }

  .site-nav,
  .external-links {
    @extend %half;
  }
}


.badge {
  display: inline;
  color: white;
  font-size: smaller;
  background-color: $color-ac;
  padding: 0.5px 3px 1px 3px;
  border-radius: 20%;
  margin: 2px;
  width: min-content;
}