body {
  background-color: $color-bg;
  color: $color-fg;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page-home,
article.page,
article.page-event {
  @extend %row;
  flex: 1;
  min-width: $max-width;
}
